
<html xmlns:wb="http://open.weibo.com/wb" lang="en" class=" js no-touch backgroundsize no-csstransforms3d csstransitions svg inlinesvg js-in js-ready wf-inactive js no-touch backgroundsize no-csstransforms3d csstransitions svg inlinesvg js-in wf-inactive" style=""><!--<![endif]-->
{% load staticfiles %}
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Contact – David Bushell – Web Design &amp; Front-end Development</title>
    <link rel="stylesheet" href="{% static 'polls/login.css' %}" >
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script> 

</head>
<body>
<div id="outer-wrap">
<div id="inner-wrap">

    <main id="main" class="main-contact" role="main" >

        

        <div class="content" style="height:500">
            <div class="block">
                
                <form id="contact" class="prose form post" method="post" action="mainemail/">
                    {%csrf_token%}
                    <div class="form-ls">
                        <div class="form-item">
                            <label for="field-name">账号</label>
                            <input tabindex="1" name="euser" id="euser" class="field" placeholder="输入账号" value="" style="width:450">
                            <label for="field-name">@ </label> 
                            <input tabindex="1" name="host" id="host" class="field" placeholder="输入域名" value="" style="width:450">
                                                    </div>
                         
                                                    
                        <div class="form-item">
                            <label for="field-email">密码</label>
                            <input tabindex="2" type="password" name="epassword" id="epassword" class="field" placeholder="输入密码" value="" style="width:450">
                                                    </div>
                        
                        
                        <div class="form-item">
                            <button tabindex="5" type="submit" class="button submit">登录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <footer id="footer" role="contentinfo">
        <div class="block">
            
            <div class="footer-profile gs">
                <div class="gc">
                    <img src="{% static 'polls/images/weibo.jpg'%}"  style="width:85px;height:85px;" align=left />
                    <div class="profile prose">

                        <p class="is-small">作者是一名杭州电子科技大学在校大学生,目前对于收邮件功能还有欠缺.有兴趣帮助来完善邮件系统或者有疑问的可以点击 <a rel="me" target="_blank" href="http://weibo.com/2035633393/profile?topnav=1&wvr=5">@巨蟹座Moriarty</a> .</p>
                    </div>
                </div>
                <div class="gc">
                    
                        <span><wb:follow-button uid="2035633393" type="gray_3" width="100%" height="150" ></wb:follow-button></span>
                   
                </div>
            </div>
            <hr>

        </footer>
        
    </main>


</div>
</div>
<!--#/wrap-->
<script>

if (window.Modernizr !== undefined)
{
    Modernizr.load([
        {
            load: [
                'http://dbushell.com/wp-content/themes/shiro2/js/main.min.js'
            ],
            complete: function()
            {
                if (window._appReady) {
                    window.App.init();
                } else {
                    if (window.addEventListener) {
                        window.addEventListener('DOMContentLoaded', window.App.init, false);
                    }
                }
            }
       }
    ]);
}
</script>
<!--/#boom-->


</body></html>